<form class="form--medium add-song-block__form" id="add-song-form" autocomplete="off">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="add-artist">Artist</label>
      <input type="text" class="form-control" id="add-artist" name="add-artist" placeholder="Artist" required>
    </div>
    <div class="form-group col-md-6">
      <label for="add-title">Song Title</label>
      <div class="scrollable-dropdown-menu">
        <input type="text" class="form-control" id="add-title" name="add-title" placeholder="Title" required>
      </div>
    </div>
    <div class="form-group col-md-2 button--add-song">
      <button type="button" id="add-song" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
