<header>
  <nav>
    <a class="logo-link" href="/">
      <div class="logo">
        Tune Tally
      </div>
    </a>
    <div class="login-options">
      <% if(!currentUser){ %>
        <a class="btn btn-sm btn-primary btn-register" href="/register">
          Sign Up
        </a>
        <a class="btn btn-link btn-login" href="/login">
          Login
        </a>
      <% } else { %>
        <div class="nav-unit"><div class="signed-in-as">Signed In As&nbsp;</div><div class="username"><%= currentUser.username%></div></div>
        <div class="btn-dashboard nav-unit">
             <a class="btn btn-sm btn-success" href="/dashboard">Go To Portal</a>
         </div>
        <div class="btn-logout nav-unit">
          <a class="btn btn-link" href="/logout">Log Out</a>
        </div>
      <% } %>
    </div>
  </nav>
</header>
