<% include ./partials/htmlhead %>
  </head>
  <body>
    <% include ./partials/nav %>
    <% include ./partials/error_alert %>
    <div class="content-container--center main-content">
      <div class="content-container--center__item">
        <div class="home-header">
          <h1 class="home-header__heading">Tune Tally</h1>
          <a href="/polls/createpoll">
            <button class="button--home-header button--home-header--primary">
              Create Poll
            </button>
          </a>
          <a href="/dashboard">
            <button class="button--home-header button--home-header--secondary">
              Edit Your Vote
            </button>
          </a>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
