.content-container__share-url input{
  max-width: 15rem;
  font-size: 0.8rem;
  padding: 1px 3px;
  width: 100%;
}

.sub-input {
  padding-left: 1.0rem;
}

.input--datetime {
  max-width: 16.0rem;
}

.input--number {
  max-width: 12.0rem;
}
