<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tune Tally</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link href="./stylesheets/typeahead-styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://use.fontawesome.com/d7de585d6e.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="./createpoll.js"></script>
    <script src="./typeahead.bundle.js"></script>
    <script src="./addinitialsongs.js"></script>
    <script src="./multiForm.js"></script>

    </script>
  </head>
  <body>
    <div class="container">
      <div class="content-container--header">
        <h1 class="logo">Tune Tally</h1>
        <h2 class="subheading">Create Poll</h2>
      </div>
      <div class="content-container__hcenter">
        <form onSubmit="return false" class="form--createpoll" id="createpoll-multiForm">
          <div id="page1" class="page" style="visibility:visible;">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control">
            </div>
            <div class="form-group">
              <label for="deadline">Deadline</label>
              <input type="date" name="deadline" class="form-control input--date">
            </div>
            <div class="form-group">
              <label for="max-votes">Max votes allowed</label>
              <input type="number" name="max-votes" class="form-control input--number">
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="open-add">
                <label class="custom-control-label" for="open-add">Allow participants to add songs to poll?</label>
              </div>
              <div class="sub-input">
                <div class="custom-control custom-checkbox content-container--spotify-enforced">
                  <input type="checkbox" class="custom-control-input" id="spotify-enforced">
                  <label class="custom-control-label" for="spotify-enforced">Require songs to be available from Spotify?</label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="enforce-login">
                <label class="custom-control-label" for="enforce-login">Require Participants to be Logged In?</label>
              </div>
              <div class="form-group" id="login-options">
                Permit which login types?
                <div class="sub-input">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="all-login">
                    <label class="custom-control-label" for="all-login">All</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input login-option" id="twitter-login">
                    <label class="custom-control-label" for="twitter-login">Twitter</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input login-option" id="facebook-login">
                    <label class="custom-control-label" for="facebook-login">Facebook</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input login-option" id="google-login">
                    <label class="custom-control-label" for="google-login">Google</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input login-option" id="reddit-login">
                    <label class="custom-control-label" for="reddit-login">Reddit</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input login-option" id="local-login">
                    <label class="custom-control-label" for="local-login">Username / Password</label>
                  </div>
                </div>
              </div>
              <div class="content-container--form-buttons">
                <button type="button" id="C1" class="btn btn-primary" onClick="showLayer('page2')">Next</button>
              </div>
            </div>
          </div>
          <div id="page2" class="page">
            <div class="content-container song-list-header">
              <div class="row">
                <div class='col-md-4'>Artist</div><div class='col-md-6'>Song Title</div>
              </div>
            </div>
            <div class="content-container song-list">

            </div>
            <div class="form--viewpoll" id="add-song-form" autocomplete="off">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="add-artist">Artist</label>
                  <input type="text" class="form-control" id="add-artist" name="add-artist" placeholder="Artist">
                </div>
                <div class="form-group col-md-6">
                  <label for="add-title">Song Title</label>
                  <input type="text" class="form-control" id="add-title" name="add-title" placeholder="Title">
                </div>
                <div class="form-group col-md-2 content-container--add-song-button">
                  <button id="add-song" class="btn btn-secondary">Add</button>
                </div>
              </div>
            </div>
            <div class="content-container--form-buttons">
              <button id="B1" class="btn btn-outline-light" onClick="showLayer('page1')">Go Back</button>
              <button type="submit"  class="btn btn-primary" id="C2">Submit</button>
            </div>

          </div>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
